body {
    background-color: #EDEDED;
  }

h1 {
  color: #4AAAA5;
  margin-top: 20px;
  font-size: 30px;
  font-weight: bold;
  text-align: left;
  font-family: Georgia, "Times New Roman", Times, serif
}

h2 {
  color: #EDEDED;
  font-size: 25px;
  font-family: Georgia, "Times New Roman", Times, serif
}

.sidenav {
    background: white;
  }

  .img-fluid {
    float: left;
    padding: 0 10px 0;
    height: 200px;
  }

  .col-md-8 {
    background-color: white;
    font-family: Georgia, "Times New Roman", Times, serif;
    float: left;
    text-align: center;
    line-height: 2;
    margin: 50px
  }

  p { 
    margin: 25px;
    color: #808080;
    text-align: justify; 
    font-size: 15px; 
    font-family: Georgia, "Times New Roman", Times, serif;
} 

  a.navbar-brand {
    background-color: #4AAAA5;
    padding: 10px;
    font-family: Georgia, "Times New Roman", Times, serif;
  }